<div class="mat-display-2">{{'password.title' | translate}}</div>
<form [formGroup]="cpForm" *ngIf="!passwordChanged" (submit)="onSubmit()" class="fx fx-col">
  <mat-form-field appearance="outline">
    <input type="password" matInput [placeholder]="'password.current' | translate" autocomplete="off" formControlName="oldPassword">
    <mat-icon matSuffix>lock_outline</mat-icon>
    <mat-label>{{'password.current' | translate}}</mat-label>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <input type="password" matInput [placeholder]="'password.new' | translate" autocomplete="off" formControlName="newPassword">
    <mat-icon matSuffix>lock_outline</mat-icon>
    <mat-error *ngIf="f.newPassword.invalid && f.newPassword.errors.pattern">{{'error.password' | translate}}</mat-error>
    <mat-label>{{'password.new' | translate}}</mat-label>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <input type="password" matInput [placeholder]="'password.confirm' | translate" autocomplete="off"
           formControlName="confirmNewPassword">
    <mat-icon matSuffix>lock_outline</mat-icon>
    <mat-label>{{'password.confirm' | translate}}</mat-label>
  </mat-form-field>
  <div class="footer">
    <button mat-flat-button color="primary" [disabled]="cpForm.invalid">{{'password.saveBtn' | translate}}</button>
  </div>
</form>

<p *ngIf="passwordChanged">{{'password.updated' | translate}}</p>
